body {
  background: rgb(36,148,162);
  background: radial-gradient(circle, rgba(36,148,162,1) 40%, rgba(48,75,120,1) 100%);
}

.outer-container {
  border: 1px solid #333;
  height: 25px;
  padding: 3px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.inner-container {
  height: 100%;
  background-color: #DBB13C;
  width: var(--width);
  transition: width 0.5s ease;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
}

#coffee-button,
#water-button {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(2px);
  box-shadow: none;
}
