body {
  background: rgb(36, 148, 162);
  background: radial-gradient(
    circle,
    rgba(36, 148, 162, 1) 40%,
    rgba(48, 75, 120, 1) 100%
  );
  margin: 0;
  padding: 0;
}

.outer-container {
  border: 1px solid #333;
  height: 25px;
  padding: 3px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.inner-container {
  height: 100%;
  background-color: #dbb13c;
  width: var(--width);
  transition: width 0.5s ease;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
}

#coffee-button,
#water-button,
#break-button,
#post-button,
#timer-button,
#meditative-button {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #dbb13c;
  cursor: pointer;
  outline: none;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(2px);
  box-shadow: none;
}
.section-diary {
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(36, 148, 162, 1) 40%,
    rgba(48, 75, 120, 1) 100%
  );
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.section-diary h1 {
  font-size: 2em;
  color: white;
  margin-bottom: 1em;
}

.li-entry {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em;
  border-radius: 20px;
  margin-bottom: 1em;
  color: white;
}

.diary-entries {
  list-style: none;
}
