.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
    background-color: antiquewhite;
  }
}

.breathe {
  animation: breathe 6s infinite alternate;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(48, 75, 120, 1);
  animation-delay: 1.5;
  animation-timing-function: linear;
}
.p-breath {
  color: antiquewhite;
  padding: 10px;
}
